<template class="task-template">
	<section id="main-section" class="section h-100 w-100 justify-content-center align-items-center overflow-auto">
		<div class="container main-wrapper mx-auto justify-content-center align-items-center">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
			<link href="https://fonts.googleapis.com/css2?family=Tiro+Tamil&display=swap" rel="stylesheet">
				
				<div class="container">
					<h2 class="text-center mt-4 mb-3" style="font-family: 'Tiro Tamil', serif;">QC SOFTWARE ROTARY KNOB</h2>
					<div class="row">
						<!-- Live QC 1 -->
						<div class="col-md-3 col-12 variables-0-duration text-light mt-3">
							<div class="border rounded" style="padding: 28px ;">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
						<div class="col-md-3 col-12 variables-0-totalTicks text-light mt-3 ">
							<div class="border rounded p-3">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
						<div class="col-md-3 col-12 variables-0-jitter text-light mt-3">
							<div class="border rounded p-3">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
						<div class="col-md-3 col-12 variables-0-avgDuration text-light mt-3 ">
							<div class="border rounded" style="padding: 28px ">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>

						<!-- Live QC 2 -->
						<div class="col-md-3 col-12 variables-1-duration text-light mt-3">
							<div class="border rounded" style="padding: 28px ;">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
						<div class="col-md-3 col-12 variables-1-totalTicks text-light mt-3 ">
							<div class="border rounded p-3">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
						<div class="col-md-3 col-12 variables-1-jitter text-light mt-3">
							<div class="border rounded p-3">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
						<div class="col-md-3 col-12 variables-1-avgDuration text-light mt-3 ">
							<div class="border rounded" style="padding: 28px ">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
						<!-- LIVE QC 3 -->
						<div class="col-md-3 col-12 variables-2-duration text-light mt-3">
							<div class="border rounded" style="padding: 28px ;">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
						<div class="col-md-3 col-12 variables-2-totalTicks text-light mt-3 ">
							<div class="border rounded p-3">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
						<div class="col-md-3 col-12 variables-2-jitter text-light mt-3">
							<div class="border rounded p-3">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
						<div class="col-md-3 col-12 variables-2-avgDuration text-light mt-3 ">
							<div class="border rounded" style="padding: 28px ">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
						<!-- LIVE QC 4 -->
						<div class="col-md-3 col-12 variables-3-duration text-light mt-3">
							<div class="border rounded" style="padding: 28px ;">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
						<div class="col-md-3 col-12 variables-3-totalTicks text-light mt-3 ">
							<div class="border rounded p-3">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
						<div class="col-md-3 col-12 variables-3-jitter text-light mt-3">
							<div class="border rounded p-3">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
						<div class="col-md-3 col-12 variables-3-avgDuration text-light mt-3 ">
							<div class="border rounded" style="padding: 28px ">
								<div class="title"></div>
								<div class="value"></div>
								<div class="unit"></div>
							</div>
						</div>
					</div>
				<!-- </div> -->

			</div>
			<!-- START Button -->
			<div class="row p-3 bottom-box">
				<div class="col">
					<div class="d-flex justify-content-center">
						<button class="btn btn-primary btn-lg btn-block py-3 w-50 start-motor">START</button>
						<button class="btn btn-danger btn-lg btn-block py-3 w-50 stop-motor hidden">STOP & RELOAD</button>
					</div>
				</div>
			</div>

			</div>

				<div class="container">
					<div class="judul text-success" align="center"><br><b>RESULT</b></div>
					<div class="row">
						<table class="table table-bordered text-light">
							<tr class="text-center" style="background-color:#202020 ;">
								<th style="width: 25%">Rotary 1</th>
								<th style="width: 25%">Rotary 2</th>
								<th style="width: 25%">Rotary 3</th>
								<th style="width: 25%">Rotary 4</th>
							</tr>
							<!-- table rotary -->
							<tr class="text-center me-3">
								<!-- colom rotary 1 -->
								<td>
									<div class="p-3 results-box-0">
									</div>
								</td>
								<!-- colom rotary 2 -->
								<td>
									<div class="p-3 results-box-1">
									</div>
								</td>
								<!-- colom rotary 3 -->
								<td>
									<div class="p-3 results-box-2">
									</div>
								</td>
								<!-- colom rotary 4 -->
								<td>
									<div class="p-3 results-box-3">
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

	</section>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</template>
