<template class="task-template">
	<section id="abnormality-popup" class="container-fluid popup">
		<div class="d-flex justify-content-center align-items-center h-100 w-100 text-robotto">
			<div class="bg-danger p-3 text-center rounded">
				<h1 class="heading-finish-pop" style="margin-top: 10px;">FAILED <span class="log-total-ticks"></span></h1>
				<button class="btn btn-block btn-secondary py-3 close-popup stop-motor">RELOAD</button>
			</div>
		</div>
	</section>
</template>
