/*=============================================
=            GENERAL STYLE            =
=============================================*/

@font-face {
  font-family: "waveform";
  font-style: normal;
  font-weight: 700;
  src: url("~/../../font/waveform.ttf");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  src: url("~/../../font/Helvetica.ttf");
}

@font-face {
  font-family: "DS-DIGI";
  font-style: normal;
  font-weight: 400;
  src: url("~/../../font/DS-DIGI.TTF");
}

@font-face {
  font-family: "DS-DIGI";
  font-style: italic;
  font-weight: 400;
  src: url("~/../../font/DS-DIGII.TTF");
}

@font-face {
  font-family: "DS-DIGI";
  font-style: normal;
  font-weight: bold;
  src: url("~/../../font/DS-DIGIB.TTF");
}

@font-face {
  font-family: "DS-DIGI";
  font-style: normal;
  font-weight: 100;
  src: url("~/../../font/DS-DIGIT.TTF");
}
@font-face {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 100;
  src: url("~/../../font/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url("~/../../font/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("~/../../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("~/../../font/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("~/../../font/Roboto-Bold.ttf");
}

.text-robotto {
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
}
.digitext {
  font-family: "DS-DIGI" !important;
}

#timer-production-section,
#timer-downtime {
  font-size: 2.5rem;
}

/*=====  End of FONTS  ======*/
html,
body {
  font-family: "Helvetica", Arial, sans-serif;
  height: 100%;
  background-color: #000000 !important;
  color: white !important;
  font-size: 1rem;
  overflow: hidden;
  user-select: none;
}

button {
  box-shadow: none !important;
}

button.btn-outline-light:hover {
  background-color: transparent !important;
  color: #ffffff;
}

button.btn-outline-light.active:hover {
  background-color: #ffffff !important;
  color: #000000;
}

button.btn-outline-light:active {
  background-color: transparent !important;
  color: #ffffff;
}

button.btn-outline-light.active:active {
  background-color: #ffffff !important;
  color: #000000;
}

button.btn {
  white-space: nowrap;
}
/*

.btn:not([class*="disabled"]):active{
	background-color:#efefef !important;
	color:#333333 !important;
}
*/

button.btn:not([class*="btn-light"]).clicked,
button.btn:not([class*="btn-light"]).active {
  background-color: #efefef !important;
  color: #333333 !important;
}

button.btn.btn-light.clicked,
button.btn.btn-light.active {
  color: #efefef !important;
  background-color: #333333 !important;
}

.bg-black {
  background-color: #000000;
}

.centered-box {
  margin: auto;
}

.centered-box-outer {
  min-height: 95vh;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.main-content {
  display: none;
}

.hidden {
  display: none !important;
  transition: 0.2s ease-out;
}

.hidden-2 {
  display: none;
  transition: 0.2s ease-out;
}

.section-header,
.section-body {
  background-color: #ffffff !important;
}

.section-body {
  border-radius: 2px;
  border: 1px solid #eaedf3;
  padding: 10px 0px;
}

.section-header {
  min-height: 120px;
}

.section {
  display: none;
}

.popup {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
}

.alert-container {
  width: 50% !important;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  text-align: center;
}

.spinner-wrapper {
  padding: 5px 25px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.64);
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: none;
}

.fast-spin {
  -webkit-animation: spinner-grow 0.15s linear infinite !important;
  animation: spinner-grow 0.45s linear infinite !important;
}

.slow-spin {
  -webkit-animation: spinner-grow 1.1s linear infinite !important;
  animation: spinner-grow 1.1s linear infinite !important;
}

.isActive {
  border: 2px solid #ffff00 !important;
}

.isActive.red-border {
  border: 5px solid #ff0000 !important;
}

.__newline {
  white-space: pre-line;
}

.flex-fixed-width-item {
  flex: 0 0 100px;
}

.content-container {
  /* min-width: 90%; */
  min-width: 95%;
}

.v-align-container {
  display: table;
  width: 100%;
}

.v-align-container span {
  display: table-cell;
  vertical-align: middle;
}

button.text-large {
  font-size: 2rem;
}

sub.small {
  font-size: 0.75rem;
}
/***************************************************
 *        			DCS Specific
 * ************************************************/
.part-info {
  text-align: center;
  color: #000000;
  border: 2px solid #000000;
}

div.part-info {
  font-size: 1.8rem;
}

div.part-info.small {
  font-size: 1.35rem;
}

div.part-info.large {
  font-size: 2.35rem;
}

.part-info.title {
  /* background-color: #aaaaaa !important; */
  /* font-weight: 560; */
  background-color: #fbc531;
  font-size: 24px;
  color: #000;
  font-weight: 400;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  padding: 10px 0;
}

.part-info.button {
  height: 115px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000;
  font-weight: 400;
}
.part-info.button.button-yellow {
  width: 350px;
}

.part-info.name {
  background-color: #fefefefe;
  font-size: 24px;
  color: #000;
  font-weight: 700;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  padding: 10px 0;
}
.part-info.name.bold {
  font-weight: 700;
}
.part-info.name img {
  max-height: 200px;

  padding: 10px 10px;
}

.kanban-selection {
  text-align: center;
}

.kanban-selection.item {
  font-size: 1.75rem;
  text-align: center;
}

.kanban-selection.item.active div {
  color: #333333 !important;
  background-color: #0098ff !important;
  border: 1px solid #333333;
}

.kanban-selection.item.active div.item-header,
.kanban-selection.item.active div.item-footer {
  color: #efefef !important;
  background-color: #0098ff !important;
  border: 1px solid #333333;
}

.kanban-selection.item .item-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.kanban-selection.item .item-footer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.kanban-selection.item .item-header,
.kanban-selection.item .item-footer {
  background-color: #efefef;
  color: #333333;
  font-weight: 700;
  padding: 5px 0px;
}

.kanban-selection.item .item-content {
  background-color: #ffff00;
  color: #333333;
  height: 200px;
}

.production-button {
  font-size: 2rem !important;
}

.production-button.small {
  font-size: 1.75rem !important;
}

.ng-cat {
  background-color: #ffffff;
  color: #cccccc;
  font-size: 1.3rem;
}

.ng-cat.active {
  background-color: #008000;
  color: #efefef;
  border: 2px solid #333333;
}
/*********************
 * LOGIN
 ********************/

.login-title {
  color: #000000;
  text-align: center;
}

h1.login-title {
  font-size: 5rem;
}

h3.login-title {
  font-size: 2.5rem;
}
