.bg-darkenblue {
    background-color: #071d4a;
  }
  .wrapper-tank-material-pop {
    width: 742px;
    height: 362px;
    margin: 0 auto;
    border-radius: 30px;
    padding: 10px;
  }
  .heading-tank-material-pop {
    font-size: 45px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    margin: 20px 0;
  }
  .kanban-tank-material-pop {
    width: 154px;
    height: 92px;
    background-color: #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    color: #000;
  }
  .btn-action-tank-material-pop {
    width: 195px;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    margin: 0 15px;
    font-weight: 700;
    border: none;
  }
  .btn-action-tank-material-pop:focus {
    outline: none;
  }
  .btn-action-tank-material-pop.accept {
    background-color: #20BF6B;
  }
  .btn-action-tank-material-pop.not-accept {
    background-color: #ea2027;
  }
  
